body {
        background-color: white;
}

h1 {
        border-bottom: 1px solid #004000;
        color: #004000;
        background-color: #F0FFFF;
}

a.toc-backref {
        color: #004000;
        text-decoration: none;
}

a.toc-backref:hover {
        color: #002000;
        text-decoration: none;
}

pre {
	background-color: #eff2f3;
        color: #7798aa;
        border: 1px #d7ecf3 solid;
        color: #555;
        margin: 3px;
        padding: 5px;
        background-color:
        border: 1px solid #000000;
}
body {
    background-color: #f1f6df;
}

pre {
    background-color: #E0FFF0;
    border: 1px solid #A0C0A0;
    padding: 10px;
}

h1 {
        text-align: center;
    	color: #003000;
	background-color: #c8dd80;
	border: 1px solid #98c012;
        margin: 15px;
        padding: 10px;
        clear: both;
}

h2 {
        border-bottom: 1px solid #004000;
}

.spacer {
  clear: both;
}

a:hover {
        background-color: #D0E0FF;
}

.photo {
    width: 250px;
    float: left;
    margin-right: 20px;
}

.flags {
        float: right;
        margin: 10px;
}

.bottom {
        margin-top: 20px;
        padding-top: 3px;
        border-top: 1px black solid;
        clear: both;
}


.address {
        float: right;
}


.postaddress {
        margin: 20px;
        padding: 10px;
        border: 1px #60D060 dashed;
}

.item {
    	color: #000;
	background-color: #c8dd80;
	border: 1px solid #98c012;
        margin: 5px;
        margin-right: 15px;
        margin-top: 0px;
        padding: 0px;
}

.itema {
        display: block;
        text-decoration: none;
        color: black;
        padding: 5px;
}

.itema:hover {
        background-color: transparent;
}

.filename {
        display: block;
        text-decoration: underline;
        font-weight: bold;
        color: #004000;
}

.link {
        display: block;
        text-decoration: underline;
        font-weight: bold;
        color: #0040F0;
}

.item:hover {
    	color: #000;
	background-color: #D0FFE5;
	border: 1px solid #002000;
        margin: 5px;
}

.topleft {
	float: left;
}

.topright {
        float: right;
}

div.center {
        text-align: center;
}

table.choice {
        margin-left: auto;
        margin-right: auto;
        border-collapse: collapse;
        border: 1px solid;
}

td.choice {
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        border: 1px solid;
}

table.cvmain {
        margin-top: 3em;
        margin-left: auto;
        margin-right: auto;
        border: 0;
}

td.sect {
        color : black;
        background-color: #D0EFD0;
        font-size: 1.5em;
        border: 1px dashed #A0D0B0;
        padding: .4ex;
}

.cvitem {
    	color: #003000;
        width: 14ex;
        text-align: right;
        margin-top: 1em;
/*        border-bottom: 1px solid #004000;
        border-top:    1px solid #004000;*/
        font-weight: bold;
/*        font-size: 1.2em; */
}

.position {
        margin-top: 1em;
/*        border-bottom: 1px solid #004000;
        border-top:    1px solid #004000;*/
        color : black;
        font-weight: bold;
/*        font-size: 1.2em; */
        font-style:italic;
}


.announce {
        text-align: left;
        font-style: italic;
        font-size: 1.5em;
        margin: 20px;
        padding: 10px;
        padding-left: 15%;
        padding-right: 15%;
        border: 3px #60D060 dashed;
}

.linkimg {
        border: 0;
        margin: 0px;
        padding: 3px;
}

.linkimg:hover {
        padding: 2px;
        margin: 0;
	background-color: transparent;
	border: 1px solid #005000;
}

.invisible {
           text-decoration: none;
           border : 0;
}

.invisible:hover {
        background-color: transparent;
}
